.mat-card {
    margin-bottom: 100px;
}

.subscription-form {
    width: 20%;
    margin: 50px auto 30px auto;
}

mat-checkbox {
    float: right;
}

.mat-raised-button {
    float: right;
    margin: 20px 0px !important;
    width: 50%;
}