/* SIDENAV */
.drawer {
    /* position: fixed; */
    height: 100vh;
    min-width: 64px;
  }
  .drawer .header {
    position: absolute;
    right: 0;
    justify-content: space-between;
  }
  .drawer .contents {
    /* padding: 16px; */
  }
  
  .main {
    background-color: #fff;
  }
  
  main.sidenav-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    border-bottom: 1px solid #ccc;
  }
  
  .main.contents {
    min-height: 100vh;
    margin-top: 64px; /* height of header */
    padding: 16px;
  }
  
  .main.footer {
    position: fixed;
    border-top: 1px solid #ccc;
    bottom: 0;
    width: 100%;
  }

  .navbar-theme .mat-drawer-container, .navbar-theme .mat-drawer {
    background-color: #727c81;
  }