.mat-menu-item {
    padding: 0 4px 0 14px;
    height: 28px;
    line-height: 28px;
  }
  
  /* #railinc-menubar .mat-toolbar-row {
    height: 40px;
  } */
  
  .active-link {
    color: black !important;
  }
  
  /* .mat-toolbar-row {
    padding: 0;
  } */