<div class="container pt-3">
  <h5>Welcome {{user.userId}}</h5>
  <br>
  <div id="appDescription">
    <p>SCO 90 is a Special Car Order approved by the Association of American Railroads (AAR), Equipment Assets Committee (EAC) and the AAR, Safety and Operations Management Committee (SOMC) in recognition of the need to efficiently move surplus, empty, rail cars to the home railroad where there is no direct connection between the handling railroad and the car owner.  The order minimizes the time, car hire, and transportation costs involved in returning these cars to the railroad owners or controllers.</p>
    <p>Railroads participating in SCO 90 are granted access to the SCO 90 Administration and Reporting System for access to tables and reports that provide information needed as to participation, delivery and receipt obligations (SCO 90 Master Table), the Ownerships and Car Marks in SCO 90; and report data that displays the movements types that generate car hire and transportation costs to individual railroads that are part of SCO 90.</p>
    <p>For more information on the SCO 90 Administration and Reporting System click on the Help Tab on the top banner next to User Services.  If you need additional information contact <a class="home-mailto" href="mailto:csc@railinc.com">csc@railinc.com</a> or call 1-877-RAILINC (1-877-724-5462). </p><br>
  </div>
  <hr>
  <br/>
  <div id="newsAndUpdates">
    <b class="news-updates-title">News and Updates</b><br>
    <iframe width="100%" class="appBulletinContainer" src="/sso/showApplicationMessages.do?moduleId=SCO90" frameborder="0"></iframe>
  </div>
</div>
